footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer nav a:hover {
    text-decoration: underline;
  }
  